{% load markdown %}
<!doctype html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <title>{{ title }}</title>

   </head>
   <body style="background-color: #f6f6f6;font-family: sans-serif;-webkit-font-smoothing: antialiased;font-size: 14px;line-height: 1.4;margin: 0;padding: 0;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;">
      {% if prehead %}
      <span class="preheader" style="color: transparent;display: none;height: 0;max-height: 0;max-width: 0;opacity: 0;overflow: hidden;mso-hide: all;visibility: hidden;width: 0;">{{ prehead }}</span>
      {% endif %}
      <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body" style="border-collapse: separate;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;background-color: #f6f6f6;">
         <tr>
            <td style="font-family: sans-serif;font-size: 14px;vertical-align: top;">&nbsp;</td>
            <td class="container" style="font-family: sans-serif;font-size: 14px;vertical-align: top;display: block;max-width: 580px;padding: 10px;width: 580px;margin: 0 auto !important;">
               <div class="content" style="box-sizing: border-box;display: block;margin: 0 auto;max-width: 580px;padding: 10px;">
                  <!-- START CENTERED WHITE CONTAINER -->
                  <table role="presentation" class="main" style="border-collapse: separate;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;background: #ffffff;border-radius: 3px;">
                     <!-- START MAIN CONTENT AREA -->
                     <tr>
                        <td class="wrapper" style="font-family: sans-serif;font-size: 14px;vertical-align: top;box-sizing: border-box;padding: 20px;">
                           {% if image %}
                           <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse: separate;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;">
                              <tr>
                                 <td class="v-text-align" style="padding-right: 0px;padding-left: 0px;font-family: sans-serif;font-size: 14px;vertical-align: top;">
                                    <img class="image" align="center" border="0" src="{{ image }}" alt="{{ image_alt }}" title="{{ image_alt }}" width="117" style="border: none;-ms-interpolation-mode: bicubic;max-width: 117px;outline: none;text-decoration: none;clear: both;height: auto;float: none;width: 65%;display: inline-block !important;">
                                 </td>
                              </tr>
                           </table>
                           <hr style="border: 0;border-bottom: 1px solid #f6f6f6;margin: 20px 0;">
                           {% endif %}
                           <table role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;">
                              <tr>
                                 <td style="font-family: sans-serif;font-size: 14px;vertical-align: top;">
                                    {% if intro %}
                                        <p style="font-family: sans-serif;font-size: 14px;font-weight: normal;margin: 0;margin-bottom: 15px;">{{ intro | markdown | safe }}</p>
                                    {% endif %}
                                    {{ body | markdown | safe }}
                                    {% if url %}
                                        <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary" style="border-collapse: separate;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;box-sizing: border-box;">
                                       <tbody>
                                          <tr>
                                             <td align="left" style="font-family: sans-serif;font-size: 14px;vertical-align: top;padding-bottom: 15px;">
                                                <table role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: auto;">
                                                   <tbody>
                                                      <tr>
                                                         <td style="font-family: sans-serif;font-size: 14px;vertical-align: top;background-color: #3498db;border-radius: 5px;text-align: center;">
                                                             <a href="{{ url }}" target="_blank" style="color: #ffffff;text-decoration: none;background-color: #3498db;border: solid 1px #3498db;border-radius: 5px;box-sizing: border-box;cursor: pointer;display: inline-block;font-size: 14px;font-weight: bold;margin: 0;padding: 12px 25px;text-transform: capitalize;border-color: #3498db;">{{ url_msg }}</a>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                    {% endif %}
                                    {% if outro %}
                                        <p style="font-family: sans-serif;font-size: 14px;font-weight: normal;margin: 0;margin-bottom: 15px;">{{ outro }}</p>
                                    {% endif %}
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                     <!-- END MAIN CONTENT AREA -->
                  </table>
                  <!-- END CENTERED WHITE CONTAINER -->
                  <!-- START FOOTER -->
                  {% if footer %}
                      <div class="footer" style="clear: both;margin-top: 10px;text-align: center;width: 100%;">
                         <table role="presentation" border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate;mso-table-lspace: 0pt;mso-table-rspace: 0pt;width: 100%;">
                            <tr>
                               <td class="content-block" style="font-family: sans-serif;font-size: 12px;vertical-align: top;padding-bottom: 10px;padding-top: 10px;color: #999999;text-align: center;">
                                  <span class="apple-link" style="color: #999999;font-size: 12px;text-align: center;">
                                      {{ footer }}
                                  </span>
                               </td>
                            </tr>
                         </table>
                      </div>
                  {% endif %}
                  <!-- END FOOTER -->
               </div>
            </td>
            <td style="font-family: sans-serif;font-size: 14px;vertical-align: top;">&nbsp;</td>
         </tr>
      </table>
   </body>
</html>